{% extends "home_base.html" %}

{% block header %}

<link href="../static/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Activity Logs</h1>
    <a href="/activity_logs/download" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Download Logs
    </a>
</div>

<p class="mb-4">
    The following table presents all of the logs recorded. Feel free to download all of the logs using the 'Download Logs' buttom above.
</p>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Activity Logs</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="activity_table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Timestamp (UTC)</th>
                        <th>IP</th>
                        <th>User</th>
                        <th>Type</th>
                        <th>Page</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Timestamp (UTC)</th>
                        <th>User</th>
                        <th>Page</th>
                        <th>Message</th>
                    </tr>
                </tfoot> -->
                <tbody>
                    {% for item in logs %}
                    <tr>
                        <td>{{ item.timestamp }}</td>
                        <td>{{ item.source_ip }}</td>
                        <td>{{ item.user }}</td>
                        <td>{{ item.account_type }}</td>
                        <td>{{ item.page }}</td>
                        <td>{{ item.message }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block apiscripts %}
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#activity_table').DataTable({
                "order": [[ 0, "desc" ]]
            });
        });
    </script>
    
    <script src="../static/vendor/datatables/js/jquery.dataTables.js"></script>
    <script src="../static/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}