{% extends "home_base.html" %}

{% block header %}

<link href="../static/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Revelio</h1>
</div>

<p class="mb-4">
    Here you can create a sweep for revelio to run.
</p>

<div class="row">
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Create Sweep</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="text-align: center;">
                {% if type %}
                <div class="alert alert-{{type}}">
                    {{value}}
                </div>
                {%else%}
                <br>
                {%endif%}
                <form method="POST">

                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Name</div>
                            </div>
                            <input type="text" class="form-control" name="input_sweep_name" id="input_sweep_name"
                                placeholder="E.g. Appcompat Hunt" required="true">
                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Command</div>
                            </div>
                            <textarea type="text" class="form-control" name="input_sweep_name" id="input_command"
                                placeholder='cmd.exe /c reg save "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\AppCompatCache" "C:\Windows\Temp\appcompat.hve"' rows="3" required="true"></textarea>
                        </div>

                        <div class="input-group mb-2">
                            <select required class="form-control" id="input_sweep_type" name="input_command_type">
                                <option disabled selected value=""> --- Select Command Type --- </option>
                                <option value="1">Run command and get a file back</option>
                                <option value="2">Upload a file and run</option>
                                <option value="3">Collect a file with a given path</option>
                            </select>
                        </div>

                        <div class="input-group mb-2">
                            <select required class="form-control" id="input_sweep_type" name="input_device_type">
                                <option disabled selected value=""> --- Select Device Type --- </option>
                                <option value="LINUX">Linux</option>
                                <option value="MAC">Mac OS</option>
                                <option value="WINDOWS">Windows</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group" id="file_name_div" hidden="true" disabled="true">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">File Name</div>
                            </div>
                            <input disabled="true" required="false" type="text" class="form-control"
                                name="input_file_name" id="input_file_name" placeholder="E.g. C:\Temp\badfile.exe">
                        </div>
                    </div>

                    <button class="btn btn-primary btn-user btn-block" type="submit">Create Sweep</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
{% endblock %}

{% block apiscripts %}
<script src="../static/vendor/datatables/js/jquery.dataTables.js"></script>
<script src="../static/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script>
    function collect_upload(that) {
        if (that.value.includes("True")) {
            document.getElementById("file_name_div").hidden = false;
            document.getElementById("input_file_name").disabled = false;
            document.getElementById("input_file_name").required = false;
        } else {
            document.getElementById("file_name_div").hidden = true;
            document.getElementById("input_file_name").disabled = true;
            document.getElementById("input_file_name").required = true;
        }
    }
</script>
{% endblock %}