{% extends "home_base.html" %}

{% block header %}

<link href="../static/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Run CB Sweep</h1>
</div>

<p class="mb-4">
    Here you can schedule a Carbon Black sweep. At the moment, there will be standard/default sweeps, but as Doby gets
    smarter there will be more sweeps that you will be able to run. On the right you will be able to see all of the sweep
    types and what they are about.
</p>

<div class="row">
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Run CB Sweep</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="text-align: center;">
                {% if type %}
                <div class="alert alert-{{type}}">
                    {{value}}
                </div>
                {%else%}
                <br>
                {%endif%}
                <form method="POST">
                    <h5><b>Step 1</b></h5>
                    <p>Select a sweep to run</p>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <select required class="form-control" id="input_sweep_type" name="input_sweep_type" onchange="collect_upload(this);">
                                <option disabled selected value=""> --- Select Sweep Type --- </option>
                                {% if sweeps %}{% for sweep in sweeps %}
                                <option value="{{ sweep.cuid }}|{{ sweep.require_input }}">{{ sweep.name }}</option>
                                {% endfor %}{% else %}{% endif %}
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <h5><b>Step 2</b></h5>
                    <p>Fill out all of the necessary details</p>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Sweep Name</div>
                            </div>
                            <input type="text" class="form-control" name="input_sweep_name" id="input_sweep_name"
                                placeholder="E.g. Mega Appcompat Hunt" required="true">
                        </div>
                    </div>
                    <div class="form-group" id="file_name_div" hidden="true" disabled="true">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">File Name</div>
                            </div>
                            <input disabled="true" required="false" type="text" class="form-control" name="input_file_name" id="input_file_name"
                                placeholder="E.g. C:\Temp\badfile.exe">
                        </div>
                    </div>
                    <br><br>
                    <h5><b>Step 3</b></h5>
                    <p>Well, what are you waiting for?</p>
                    <button class="btn btn-primary btn-user btn-block" type="submit">Run Sweep!</button>
                </form>
            </div>
        </div>
    </div>
    {% if sweeps %}
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sweep Types</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% for sweep in sweeps %}
                <div class="card mb-2 border-left-info">
                    <div class="card-body">
                        <div class="text-xl font-weight-bold text-info text-uppercase mb-1">{{ sweep.name }}</div>
                        {{ sweep.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}{% endif %}
</div>

<!-- /.container-fluid -->
{% endblock %}

{% block apiscripts %}
    <script src="../static/vendor/datatables/js/jquery.dataTables.js"></script>
    <script src="../static/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        function collect_upload(that){
            if (that.value.includes("True")) {
                document.getElementById("file_name_div").hidden = false;
                document.getElementById("input_file_name").disabled = false;
                document.getElementById("input_file_name").required = false;
            } else {
                document.getElementById("file_name_div").hidden = true;
                document.getElementById("input_file_name").disabled = true;
                document.getElementById("input_file_name").required = true;
            }
        }
    </script>
{% endblock %}