{% extends "home_base.html" %}

{% block header %}

<link href="../static/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">CB Server Configuration</h1>
</div>

<p class="mb-4">
    The following section contains all of the server details used to interact with the Carbon Black server for this
    instance.
    <b>Note: </b> that if you want to update the max sessions, try not to go over 30-40 sessions. Otherwise, you will be
    getting
    an email from Carbon Black.
</p>


<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">CB Server Settings</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="text-align: center;">
            <!-- DataTales Example -->
            {% if type %}
            <div class="alert alert-{{type}}">
                {{value}}
            </div>
            {%else%}
            <br>
            {%endif%}
            
            {% if settings %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <form class="user" method="POST">
                            <div class="form-group">
                                <label for="input_root_url">Root URL</label>
                                <input type="text" class="form-control form-control-user" name="input_root_url"
                                    id="input_root_url" value="{{ settings.root_url }}"
                                    placeholder="https://api-test.conferdeploy.net" required>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="input_api_key">API Key</label>
                                    <input type="text" class="form-control form-control-user" name="input_api_key"
                                        id="input_api_key" value="{{ settings.api_key }}"
                                        placeholder="7FJ197CJ2A8172HDDK811DZZ" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="input_connector_id">Connector ID</label>
                                    <input type="text" class="form-control form-control-user" name="input_connector_id"
                                        id="input_connector_id" value="{{ settings.connector_id }}"
                                        placeholder="AHDJ17QJKS" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="input_min_check_in_time">Min Check-In (Hours)</label>
                                    <input type="text" class="form-control form-control-user" name="input_min_check_in_time"
                                        id="input_min_check_in_time" value="{{ settings.min_check_in_time }}" placeholder="2"
                                        required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="input_max_sessions">Max Sessions</label>
                                    <input type="text" class="form-control form-control-user" name="input_max_sessions"
                                        id="input_max_sessions" value="{{ settings.max_sessions }}" placeholder="10"
                                        required>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-user btn-block" type="submit">Update
                                Configuration</button>
                        </form>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-11">
                    <div class="p-5">
                        <form class="user" method="POST">
                            <div class="form-group">
                                <label for="input_root_url">Root URL</label>
                                <input type="text" class="form-control form-control-user" name="input_root_url"
                                    id="input_root_url" placeholder="https://api-test.conferdeploy.net" required>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="input_api_key">API Key</label>
                                    <input type="text" class="form-control form-control-user" name="input_api_key"
                                        id="input_api_key" placeholder="7FJ197CJ2A8172HDDK811DZZ" required>
                                </div>
                                <div class="col-sm-4">
                                    <label for="input_connector_id">Connector ID</label>
                                    <input type="text" class="form-control form-control-user" name="input_connector_id"
                                        id="input_connector_id" placeholder="AHDJ17QJKS" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="input_min_check_in_time">Min Check-In (Hours)</label>
                                    <input type="text" class="form-control form-control-user" name="input_min_check_in_time"
                                        id="input_min_check_in_time" placeholder="2"
                                        required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="input_max_sessions">Max Sessions</label>
                                    <input type="text" class="form-control form-control-user" name="input_max_sessions"
                                        id="input_max_sessions" placeholder="10" required>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-user btn-block" type="submit">Update
                                Configuration</button>

                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
<script src="../static/vendor/datatables/js/jquery.dataTables.js"></script>
<script src="../static/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}