{% extends "home_base.html" %}

{% block header %}

<link href="../../static/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sweep Details | {{ sweep_name }}</h1>
</div>
<!-- 
<a href="/activity_logs/download" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Download Endpoint List
</a> -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Individual Host Status</h6>
    </div>
    <div class="card-body">
        {% if type %}
        <div class="alert alert-{{type}}">
            {{value}}
        </div>
        {%else%}
        <br>
        {%endif%}
        <div class="table-responsive">
            <table id="cb_host_table" class="table table-striped table-bordered table-s" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Device ID</th>
                        <th>Completed?</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Hostname</th>
                        <th>Device ID</th>
                        <th>Completed?</th>
                        <th>Status</th>
                    </tr>
                </tfoot> -->
                {% if hosts %}
                    <tbody>
                        {% for item in hosts %}
                        <tr>
                            <td>{{ item.hostname }}</td>
                            <td>{{ item.device_id }}</td>
                            <td>{{ item.complete }}</td>
                            <td>{{ item.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                {% else %}{% endif %}
            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
{% endblock %}

{% block apiscripts %}
    <script>
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#cb_host_table').DataTable();
        });
    </script>
    
    <script src="../../static/vendor/datatables/js/jquery.dataTables.js"></script>
    <script src="../../static/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}