{% extends "home_base.html" %}

{% block header %}

<link href="../static/vendor/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Settings</h1>
</div>

<p class="mb-4">
    The following section contains all of the settings for CB Bot. There aren't that much, but as we add more modules to
    it, most likely this page will fill up with more details.
</p>

{% if type %}
<div class="alert alert-{{type}}">
    {{value}}
</div>
{%else%}
<br>
{%endif%}

<!-- Area Chart -->

<div class="col-xl-6 col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Giphy API</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="text-align: center;">
            <div class="row">
                <!-- GIPHY DATA -->
                <div class="col-lg-12">
                    <!-- Card Header - Dropdown -->
                    <div class="p-5">
                        <form class="user" method="POST">
                            <div class="form-group">
                                <label for="input_root_url">Root URL</label>
                                <input type="text" class="form-control form-control-user" name="input_root_url"
                                    id="input_root_url" placeholder="https://api.giphy.com/v1/gifs/random" required
                                    disabled>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <label for="input_api_key">API Key</label>
                                    <input type="text" class="form-control form-control-user" name="input_api_key"
                                        id="input_api_key" value="{{ giphy.api_key }}"
                                        placeholder="7FJ197CJ2A8172HDDK811DZZ" required>
                                </div>
                                <div class="col-sm-4">
                                    <label for="input_rating">Rating</label>
                                    <input type="text" class="form-control form-control-user" name="input_rating"
                                        id="input_rating" value="{{ giphy.rating }}" placeholder="PG" required>
                                </div>
                            </div>
                            <input type="hidden" name="config" value="giphy">
                            <button class="btn btn-primary btn-user btn-block" type="submit">Update Giphy
                                Settings</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Area Chart -->
<div class="col-xl-6 col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Carbon Black API</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body" style="text-align: center;">
            <div class="row"></div>
            <!-- CB DATA -->
            <div class="col-lg-12">
                <!-- Card Header - Dropdown -->
                <div class="p-5">
                    <form class="user" method="POST">
                        <div class="form-group">
                            <label for="input_root_url">Root URL</label>
                            <input type="text" class="form-control form-control-user" name="input_root_url"
                                id="input_root_url" value="{{ cb.root_url }}"
                                placeholder="https://api-test.conferdeploy.net" required>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="input_api_id">API ID</label>
                                <input type="text" class="form-control form-control-user" name="input_api_id"
                                    id="input_api_id" value="{{ cb.api_id }}" placeholder="AHDJ17QJKS" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="input_api_secret_key">API Secret Key</label>
                                <input type="text" class="form-control form-control-user" name="input_api_secret_key"
                                    id="input_api_secret_key" value="{{ cb.api_secret_key }}"
                                    placeholder="7FJ197CJ2A8172HDDK811DZZ" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="input_min_check_in_time">Min Check-In (Hours)</label>
                                <input type="text" class="form-control form-control-user" name="input_min_check_in_time"
                                    id="input_min_check_in_time" value="{{ cb.min_check_in_time }}" placeholder="2"
                                    required>
                            </div>
                            <div class="col-sm-6">
                                <label for="input_max_sessions">Max Sessions</label>
                                <input type="text" class="form-control form-control-user" name="input_max_sessions"
                                    id="input_max_sessions" value="{{ cb.max_sessions }}" placeholder="10" required>
                            </div>
                        </div>
                        <input type="hidden" name="config" value="cb_data">
                        <button class="btn btn-primary btn-user btn-block" type="submit">Update
                            Configuration</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
<script src="../static/vendor/datatables/js/jquery.dataTables.js"></script>
<script src="../static/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}